@import "tailwindcss";

@theme inline {
  --color-background: #f2f0f1;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-figtree: "Figtree", sans-serif;
}

body {
  font-family: var(--font-figtree);
}
